* {
    margin: 0;
    padding: 0;
    color: wheat;
}

body {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: #181D27;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: goldenrod;
    height: 50px;

    /* TOP RIGHT BOTTOM LEFT */
    padding: 12px 0 12px 0;
    position: fixed;
    width: 100%;
    top: 0;
}

ul {
    display: flex;
    gap: 24px;
    font-size: 1rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    font-weight: bolder;
    font-size: 2rem;
}

.mainPage,
.odinProject,
.contactUs,
.quote {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bazinga {
    font-size: 6em;
}

.sheldon {
    display: flex;
    float: right;
}

.odinContainer,
.contactContainer,
.mainContainer,
.quoteBlock {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.quoteBlock {
    flex-direction: column;
    justify-content: space-between;
    background-color: #666;
    border-radius: 5%;
    gap: 20px;
}

.mainContainer {
    padding-top: 75px;
    gap: 30px;
    flex-direction: row;
}

.contactContainer {
    gap: 20px;
}

.odinLogo {
    display: flex;
    gap: 30px;
    align-items: center;
}

.odinContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
    margin-bottom: 24px;
}

.portfolio,
.contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 200px;
    gap: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #666;
    font-weight: bolder;
}

