* {
    margin: 0;
    padding: 0;
    color: wheat;
}

body {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: #181D27;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #181D27;
    height: 50px;

    /* TOP RIGHT BOTTOM LEFT */
    padding: 24px;

    position: fixed;
    width: 100%;
    top: 0;
}

ul {
    display: flex;
    gap: 24px;
    font-size: 24px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: wheat;
}

.logo {
    font-weight: bolder;
    font-size: 50px;
}

.mainPage,
.odinProject,
.contactUs {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.odinContainer,
.contactContainer,
.mainContainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.mainContainer {
    padding-top: 100px;
    gap: 30px;
    flex-direction: row;
}

.contactContainer {
    gap: 20px;
}

.odinContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
    margin-bottom: 24px;
}

.portfolio,
.contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 200px;
    gap: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: wheat;
}

